name: Android Build 64-bit
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install NDK
        run: |
          echo "y" | sudo ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --install "ndk;21.4.7075529"
          echo "ANDROID_NDK_HOME=${ANDROID_HOME}/ndk/21.4.7075529" >> $GITHUB_ENV

      - name: Build with ndk-build
        run: |
          cd jni
          ${ANDROID_NDK_HOME}/ndk-build APP_ABI=arm64-v8a

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: santrope-libs-64bit
          path: libs/arm64-v8a/
