name: Android Build 64-bit
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up NDK
        uses: nwidger/setup-ndk@v1
        with:
          ndk-version: r25b # Стандарт для SAMP Mobile

      - name: Build with ndk-build
        run: |
          cd jni
          ndk-build APP_ABI=arm64-v8a

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: santrope-libs-64bit
          path: libs/arm64-v8a/
          
